<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Hotel Name</th>
      <th>Location</th>
      <th>Action</th>
      <!--<th colspan="2"></th>-->
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
        <tr>
          <td><%= hotel.hotelname %></td>
          <td><%= hotel.address %></td>
          <td><%= link_to 'View', users_userroombooking_path(hotel) ,class:"btn btn-dark"%></td>
        </tr>
    <%end%>
  </tbody>
</table>