<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Booking has canceled by <%= "#{@booking.hotel.hotelname}" %></p>

    <p>------------------</p>
    <p> ON    :  <%=@booking.room.roomid%></p>

    <p>Sorry for the inconvenience , please try again later</p>
  </body>
</html>