<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new booking from <%= "#{@booking.user.firstname} #{@booking.user.lastname}" %></p>

    <p>------------------</p>
    <p> ON    :  <%=@booking.room.roomid%></p>
    <p> FROM  :  <%=@booking.startdate%></p>
    <p> TO    :  <%=@booking.enddate%></p>
  </body>
</html>